.home-page-child {
  align-self: stretch;
  height: -85px;
  position: relative;
  background-color: rgba(255, 228, 228, 0.49);
  display: none;
}
.spark-innovation-hub {
  margin: 0;
  height: 41px;
  width: 328px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.spark-innovation-hub-wrapper {
  margin-top: -208px;
  width: 736px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 119px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.hub,
.spark-innovation {
  margin: 0;
}
.spark-innovation-hub-container {
  position: relative;
}
.about-us,
.academy,
.co-workspace {
  position: relative;
  display: inline-block;
}
.about-us {
  min-width: 75px;
  white-space: nowrap;
}
.academy,
.co-workspace {
  min-width: 77px;
}
.co-workspace {
  min-width: 118px;
}
.co-workspace-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4px 0 0;
}
.community,
.contact-us {
  position: relative;
  display: inline-block;
  min-width: 98px;
}
.contact-us {
  min-width: 89px;
  white-space: nowrap;
}
.about-us-parent,
.spark-innovation-hub-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
  color: var(--color-darkslategray);
}
.about-us-parent {
  margin: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: 18px;
  font-size: var(--font-size-lg);
  font-family: var(--font-open-sans);
}
.spark-innovation-hub-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  font-family: var(--font-id-grotesk);
}
.sparking {
  color: var(--color-black);
}
.innovation {
  color: var(--color-darkslategray);
}
.span {
  color: var(--color-black);
}
.synergy {
  color: var(--color-gold);
}
.span1 {
  color: var(--color-darkslategray);
}
.sparking-innovation-cultivati {
  margin: 0;
}
.growth {
  color: var(--color-darkslategray);
}
.and-driving-growth {
  margin: 0;
  color: var(--color-black);
}
.sparking-innovation-cultivati-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.innovate-collaborate {
  width: 450px;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  display: inline-block;
  max-width: 100%;
}
.sparking-innovation-cultivati-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  max-width: 100%;
}
.frame-child,
.frame-div {
  flex: 1;
  max-width: 100%;
  min-width: 341px;
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.frame-child {
  height: 234px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.discover-spark-innovation {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.discover-spark-innovation-hub-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-item {
  height: 45px;
  width: 141px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray);
  display: none;
}
.lets-talk {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-id-grotesk);
  color: var(--color-white);
  text-align: left;
  min-width: 91px;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 25px;
  background-color: var(--color-darkslategray);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-button:hover,
.rectangle-parent:hover {
  background-color: var(--color-slategray);
}
.frame-parent2,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 34px;
}
.frame-wrapper1 {
  width: 453px;
  justify-content: flex-end;
  padding: 0 0 8px;
  box-sizing: border-box;
  min-width: 453px;
}
.frame-inner,
.rectangle-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 166px;
  min-height: 200px;
}
.rectangle-group {
  width: 525px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 525px;
  max-width: 100%;
}
.frame-group,
.frame-parent1 {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.frame-group {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.frame-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  width: 1068px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 81px;
  max-width: 100%;
}
.home-page-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 88.1px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray);
  font-family: var(--font-id-grotesk);
}
.unleash-your-tech {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.frame-child1 {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 341px;
  z-index: 1;
}
.weekly,
.weeks-6hours {
  margin: 0;
}
.weeks-6hours-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.at-spark-innovation {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  text-align: justify;
  z-index: 1;
}
.weeks-6hours-intensive-train-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 257px;
  box-sizing: border-box;
  gap: 14px;
}
.frame-wrapper2,
.rectangle-container,
.weeks-6hours-intensive-train-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 484px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3.9px 0 0;
  box-sizing: border-box;
  min-width: 484px;
}
.rectangle-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 59px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.unleash-your-tech-potential-parent {
  width: 1070px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 45.9px;
  max-width: 100%;
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray);
  font-family: var(--font-id-grotesk);
}
.frame-child2,
.rectangle-div {
  position: relative;
  display: none;
}
.rectangle-div {
  height: 114px;
  width: 1289px;
  background-color: var(--color-gold);
  max-width: 100%;
}
.frame-child2 {
  height: 52px;
  width: 194px;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray);
}
.register-now {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
  color: var(--color-white);
  text-align: left;
  z-index: 3;
}
.frame-button,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-11xl) var(--padding-xs)
    var(--padding-12xl);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-31xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent1 {
  align-self: stretch;
  background-color: var(--color-gold);
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-xl) var(--padding-12xl)
    var(--padding-3xl);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.connect-create-conquer,
.your-premier-co-working {
  margin: 0;
}
.connect-create-conquer-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.frame-child3 {
  height: 372px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.welcome-to-a {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.connect-create-conquer-you-parent,
.welcome-to-a-vibrant-co-workin-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.welcome-to-a-vibrant-co-workin-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  text-align: justify;
  font-size: var(--font-size-xl);
  font-family: var(--font-open-sans);
}
.connect-create-conquer-you-parent {
  width: 1069px;
  flex-direction: column;
  gap: 35px;
}
.home-page-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray);
  font-family: var(--font-id-grotesk);
}
.frame-child4,
.frame-child5 {
  position: relative;
  display: none;
}
.frame-child4 {
  height: 114px;
  width: 1289px;
  background: linear-gradient(90deg, #032b44, #033f64);
  max-width: 100%;
}
.frame-child5 {
  height: 52px;
  width: 310px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
}
.become-a-member {
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-id-grotesk);
  color: var(--color-darkslategray);
  text-align: left;
  z-index: 2;
}
.rectangle-parent2,
.rectangle-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) 26px var(--padding-xs) var(--padding-8xl);
  background-color: var(--color-gold);
  border-radius: var(--br-31xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.rectangle-parent3:hover {
  background-color: #cc8f00;
}
.rectangle-parent2 {
  align-self: stretch;
  background: linear-gradient(90deg, #032b44, #033f64);
  justify-content: center;
  padding: var(--padding-12xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.check-out-our {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.register-now-child {
  width: 345px;
  height: 428px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.mask-group-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.branding-services,
.mask-group-icon {
  position: relative;
  z-index: 1;
}
.web-development {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 69px;
}
.register-now-item,
.register-now1 {
  height: 428px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.register-now1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-4) var(--padding-smi) var(--padding-4xl)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-2xl-3);
}
.register-now-item {
  width: 345px;
  position: relative;
  display: none;
}
.mask-group-icon1 {
  width: 318px;
  flex: 1;
  max-height: 100%;
  object-fit: contain;
}
.mask-group-icon1,
.web-development1 {
  position: relative;
  z-index: 1;
}
.web-development-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 71px 0 72px;
}
.register-now-inner,
.register-now2 {
  height: 428px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  max-width: 100%;
}
.register-now2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base-4) 10px var(--padding-4xl);
  box-sizing: border-box;
  gap: var(--gap-2xl-3);
}
.register-now-inner {
  width: 345px;
  position: relative;
  display: none;
}
.mask-group-icon2 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mask-group-icon2,
.social-media-management {
  position: relative;
  z-index: 1;
}
.register-now3,
.social-media-management-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-media-management-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xl) 0 28px;
}
.register-now3 {
  height: 428px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray);
  flex-direction: column;
  padding: var(--padding-base-4) var(--padding-smi) var(--padding-4xl)
    var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-2xl-3);
  max-width: 100%;
}
.weekly-intensive,
.welcome-community {
  flex-direction: row;
  justify-content: flex-start;
}
.weekly-intensive {
  flex: 1;
  display: grid;
  align-items: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(259px, 1fr));
}
.welcome-community {
  align-self: stretch;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.contact-us1,
.frame-parent3,
.intensive-training,
.welcome-community {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.contact-us1 {
  width: 1068px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 38px;
}
.frame-parent3,
.intensive-training {
  align-self: stretch;
  box-sizing: border-box;
}
.intensive-training {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.frame-parent3 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 35.7px;
  gap: var(--gap-29xl);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray);
  font-family: var(--font-id-grotesk);
}
.feel-free-to,
.hephzibah-plaza {
  position: relative;
  z-index: 1;
}
.hephzibah-plaza {
  font-family: var(--font-open-sans);
  white-space: nowrap;
}
.spark-innovation-hub1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.infosparkinnovationhubcom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.atom-kpera-road {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-open-sans);
}
.wesparkinnovationhub {
  position: relative;
  z-index: 1;
}
.asset-x {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 35px;
  box-sizing: border-box;
  max-width: 100%;
}
.hephzibah-plaza-atom {
  position: relative;
  z-index: 1;
}
.asset-x1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 396px;
}
.spark-innovation-hub2 {
  margin: 0;
  position: relative;
  font-size: 96px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.facebook-instagram,
.hefzibah-plaza {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.facebook-instagram {
  width: 1031px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.5px;
}
.hefzibah-plaza {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 0 17px;
  box-sizing: border-box;
}
.copyright-2024 {
  position: relative;
  display: inline-block;
  min-width: 114px;
  z-index: 1;
}
.facebook-instagram-assets {
  width: 1064px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-open-sans);
}
.facebook-instagram1 {
  position: absolute;
  top: 0.3px;
  left: 0;
  background: linear-gradient(180deg, #053654, #04304c 51%, #032b44);
  width: 100%;
  height: 100%;
}
.pattern-icon {
  position: absolute;
  width: calc(100% - 26.2px);
  top: 0;
  right: 14.2px;
  left: 12px;
  max-width: 100%;
  overflow: hidden;
  height: 122.4px;
  z-index: 1;
}
.frame-child6 {
  position: absolute;
  top: 408.3px;
  left: 37px;
  background-color: var(--color-white);
  width: 182px;
  height: 90px;
  z-index: 1;
}
.asset-18220x-icon,
.facebook-2-1,
.instagram-2-1 {
  position: absolute;
  top: 312.3px;
  left: 217px;
  width: 38px;
  height: 38px;
  object-fit: contain;
  z-index: 1;
}
.asset-18220x-icon,
.instagram-2-1 {
  left: 121px;
}
.asset-18220x-icon {
  left: 169px;
}
.rectangle-textarea {
  border: 0;
  background-color: #d9d9d9;
  height: 155px;
  width: 498px;
  outline: 0;
  position: absolute;
  top: 195.3px;
  left: 685px;
  z-index: 2;
}
.facebook-instagram-parent {
  width: 1304px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -14px;
  bottom: 0;
}
.home-page,
.reach-us {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-white);
}
.reach-us {
  align-self: stretch;
  padding: 195.3px var(--padding-10xl) var(--padding-27xl) 108px;
  gap: 4px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-5xl);
  font-family: var(--font-id-grotesk);
}
.home-page {
  width: 100%;
  height: 3604px;
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-27xl) 0 0;
  gap: var(--gap-29xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: 32px;
  font-family: var(--font-space-grotesk);
}
@media screen and (max-width: 1050px) {
  .frame-wrapper1,
  .rectangle-group {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .spark-innovation-hub {
    font-size: 26px;
  }
  .about-us-parent {
    display: none;
  }
  .sparking-innovation-cultivati-container {
    font-size: var(--font-size-19xl);
  }
  .unleash-your-tech {
    font-size: var(--font-size-11xl);
  }
  .frame-wrapper2 {
    flex: 1;
  }
  .rectangle-container {
    flex-wrap: wrap;
  }
  .check-out-our,
  .connect-create-conquer-container {
    font-size: var(--font-size-11xl);
  }
  .weekly-intensive {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(259px, 448px));
  }
  .asset-x1 {
    padding-left: 198px;
    box-sizing: border-box;
  }
  .spark-innovation-hub2 {
    font-size: var(--font-size-29xl);
  }
  .home-page {
    height: auto;
  }
}
@media screen and (max-width: 725px) {
  .frame-wrapper1,
  .rectangle-group {
    min-width: 100%;
  }
  .frame-parent {
    gap: var(--gap-xl);
  }
  .home-page-inner {
    padding-bottom: 57px;
    box-sizing: border-box;
  }
  .weeks-6hours-intensive-train-parent {
    padding-bottom: 167px;
    box-sizing: border-box;
  }
  .frame-wrapper2 {
    min-width: 100%;
  }
  .rectangle-container {
    gap: 29px;
  }
  .unleash-your-tech-potential-parent {
    gap: 23px;
  }
  .connect-create-conquer-you-parent {
    gap: var(--gap-mid);
  }
  .weekly-intensive {
    grid-template-columns: minmax(259px, 1fr);
  }
  .contact-us1 {
    gap: 19px;
  }
  .frame-parent3 {
    gap: var(--gap-5xl);
  }
  .reach-us {
    padding-left: 54px;
    padding-top: 127px;
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .home-page {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .spark-innovation-hub {
    font-size: var(--font-size-lgi);
  }
  .sparking-innovation-cultivati-container {
    font-size: var(--font-size-10xl);
  }
  .innovate-collaborate {
    font-size: var(--font-size-base);
  }
  .frame-child,
  .frame-div {
    min-width: 100%;
  }
  .discover-spark-innovation {
    font-size: var(--font-size-base);
  }
  .frame-parent2 {
    gap: var(--gap-mid);
  }
  .rectangle-group {
    flex-wrap: wrap;
  }
  .unleash-your-tech {
    font-size: var(--font-size-4xl);
  }
  .frame-child1 {
    min-width: 100%;
  }
  .weeks-6hours-container {
    font-size: var(--font-size-lgi);
  }
  .at-spark-innovation {
    font-size: var(--font-size-base);
  }
  .connect-create-conquer-container {
    font-size: var(--font-size-4xl);
  }
  .welcome-to-a {
    font-size: var(--font-size-base);
  }
  .check-out-our {
    font-size: var(--font-size-4xl);
  }
  .branding-services {
    font-size: var(--font-size-base);
  }
  .web-development {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .web-development1 {
    font-size: var(--font-size-base);
  }
  .web-development-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .social-media-management {
    font-size: var(--font-size-base);
  }
  .feel-free-to,
  .hephzibah-plaza,
  .hephzibah-plaza-atom,
  .infosparkinnovationhubcom,
  .wesparkinnovationhub {
    font-size: var(--font-size-lgi);
  }
  .asset-x1 {
    padding-left: 99px;
    box-sizing: border-box;
  }
  .spark-innovation-hub2 {
    font-size: var(--font-size-10xl);
  }
  .reach-us {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
